---
layout: default
title: Acropoiesis Media Group
---
<div class="blurb">
  <h1>Acropoiesis Media Group</h1>
  <h2>WEB DESIGN &amp; DEVELOPMENT</h2>
  <p>Whether you need a completely new website or some maintenance or updates to an existing site, Acropoiesis Media Group can help.</p>
  <p>We offer a range of services from concept to implementation, including site management and maintenance, in order to help you get a site which is tailor-made to your needs, and to the needs of your client base.</p>
  <p>We offer:</p>
  <ul>
    <li>UI/UX Design, for the best possible experience for your clients — independent of their device, connection speed, etc.</li>
    <li>HTML &amp; CSS, focusing on clean yet robust design</li>
    <li>JavaScript, for interactivity</li>
    <li>All sites are fully responsive, and we work with you to identify what information is most important to your clients</li>
  </ul>
  <p>Advanced services such as web applications are available upon request. Get in touch for a quote today.</p>
</div><!-- /.blurb -->
