---
layout: default
title: Hank Quinlan, Horrible Cop
---
<div class="blurb">
  <h1>CONTACT</h1>
	<p>Do you have any questions?</p>
	<p>Need more information?</p>
	<p>Please do not hesitate to reach out in whichever way is most convenient for you:</p>
	<ul>
		<li>Phone: <a href="tel:+16468012424">(646) 801-2424</a></li>
		<li>Email: <a href="mailto:mn@acropoiesis.com">mn@acropoiesis.com</a></li>
		<li><a href="https://www.linkedin.com/in/michaelsnicholas" target="_blank">LinkedIn</a></li>
		<li>Skype ID available upon request</li>
  </ul>
</div><!-- /.blurb -->
    
