---
layout: default
title: About Acropoiesis Media Group
---
<div class="blurb">
	<h1>WHO AM I?</h1>
		<img src="img/MichaelNicholas.jpg" id="headshot" alt="Michael Nicholas">
		<p>My name is Michael Nicholas, and I'm a designer and developer. I founded Acropoiesis Media Group in 2014 to help businesses and individuals make an impact through better design and a better experience for their clients.</p>
   		<p>My story begins back in the mid-nineties, when I left a career as a recording engineer to study graphic design. In these days, computers were just beginning to be used in design, and so I was trained in many traditional techniques of graphic design, typography, and illustration in addition to computers.</p>
   		<p>It was during this time I also began coding for the first time with the earliest versions of html.</p>
		<p>For the past two decades I have been doing freelance work while pursuing my artistic goals, studying music composition in Europe and in the US, culminating in a PhD from UC Berkeley, and currently pursuing a career as a <a href="https://michaelnicholasart.com/" target="_blank">visual artist.</a></p>
        <p>During my time as a composer and visual artist I have been exposed to many more programming languages and environments beyond html, some of which I use for both my work with Acropoiesis Media Group and in my visual art practice.</p>
        <h1>WHAT IS ACROPOIESIS?</h1>
		<p>Acropoiesis is a term I coined about a decade ago while living and studying in Europe. It is formed from two words from Ancient Greek. At the time I was studying philosophy, and became deeply immersed in Ancient Greek thought and culture.</p>
   		<p>The first word, 'acro', means "the apex" or "highest." Think of words like "acrobat" or the "Acropolis." The second word, 'poiesis', means "creating" or "making." Poetry, for example, comes from this word. For me, acropoiesis is a personal philosophy. It is something I strive for in all my work, whether that work is done for myself or for a client.</p>
        <p>One of my very first employers when I was just starting out as a graphic designer called me into his office one day after I had been work for him for a while. He asked me how I was able to get so much quality work done in such a short period of time. He explained that he was a perfectionist and was always tweaking something in the design, and it was great to have someone who could do a great job and move on to the next task. I considered myself to be a perfectionist as well, but he preferred to call me "meticulous."</p>
</div><!-- /.blurb -->
